# Entornos virtuales
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints

# Archivos objeto
*.o

# Ejecutables
*.exe
*.out
a.out

# Archivos de módulo de Fortran
*.mod